[submodule "notification-service"]
	path = notification-service
	url = https://github.com/amira921/Notification-Service
	branch = master
[submodule "task-service"]
	path = task-service
	url = https://github.com/amira921/Task-Service
	branch = master
[submodule "authentication-service"]
	path = authentication-service
	url = https://github.com/amira921/Authentication-Service
	branch = master
